<div class="panel-heading">
    <h3 class="panel-title">{% trans %}Key name{% endtrans %} : {{ key.getName() }}</h3>
</div>
<div class="panel-heading">
    <h3 class="panel-title">{% trans %}TTL{% endtrans %} : {{ key.getTtl() }}</h3>
</div>
<div class="panel-heading">
    <h3 class="panel-title">{% trans %}Length{% endtrans %} : {{ key.getCount() }}</h3>
</div>